#subirTopo {
    text-decoration: none;
    background: #3a414a;
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    border-radius: 50px

}

#subirTopo:hover {
    opacity:1;
}
/*Class que fixa a barra de navegação*/
#menu_nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    /*margin-top: -2.5em;*/
}


/*class que responsavel pelo css do menu*/

/*Tamanho da logo*/ 
.navbar-dropdown .navbar-logo img {
    height: 5.125rem; 
}
/*Tamanho da barra de menu*/
.navbar-dropdown .navbar-brand{
    padding: 0.0rem 0;
}
/*class que responsavel pelo css do topo*/
/*#extMenu1-j .navbar, #extMenu1-j .nav-dropdown-sm, #extMenu1-j .nav-dropdown-sm .link[aria-expanded=true], #extMenu1-j .nav-dropdown-sm .dropdown-menu{
    background: #FF5722;*/

/*}*/
[role=button], a, area, button, input, label, select, summary, textarea{
    color:#ffffff; 


}

#extMenu1-j .navbar, #extMenu1-j .nav-dropdown-sm, #extMenu1-j .nav-dropdown-sm .link[aria-expanded=true], #extMenu1-j .nav-dropdown-sm .dropdown-menu{
    
 background:#ca5d2a00;   
    
}